*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
   color: white;
   font-family: 'PT san Narrow ' , sans-serif;
   font-size: 14px;
}
header{
    background-color: black;
    padding: 50px 90px;
}
.header-top{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.shedule{
    display: flex;
    align-items: center;
    justify-content: center;
}
.shedule img{
    max-width: 25px;
    margin-right: 35px;
}
.shedule-left .phone,
.cart-right .amount
{
font-size: 15px;
font-weight: bold;
letter-spacing: 3px;
margin-bottom: 10px;
}
.shedule-left .time,
.cart-right .item{
    letter-spacing: 2px;
    opacity: 0.5;
    transition: 0.25s;
}
.logo img{
width: 100px;
}
.cart {
    position: relative;
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: row-reverse;
    text-align: right;
    cursor: pointer;
    transition: 0.25s;
}
.cart img{
    max-width: 35px;
    margin-left: 25px;
}
.cart:hover .item{
    color:yellow;
    opacity: 1;
}
.cart:active img{
    transform: scale(0.9);
}
.cart::after{
    content: '0';
    position: absolute;
    top: 0;
    right: -5px;
    width: 20px;
    height: 20px;
    background-color: yellow;
    color: black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-btn{
    display: none;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav li{
    list-style: none;
margin: 0 20px;
}
.nav li a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white;
letter-spacing: 3px;
transition: 0.25s;
}
.nav li a:hover{
    color: yellow;
}
.nav li a.active::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 1px;
    background-color: white;
}
.hero{
    min-height: 100vh;
    background: url(./imgae/slide_1.jpg);
    background-position: no-repeat;
    background-size: cover;
    padding: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
.img img{
    max-width: 600px;
    filter: drop-shadow(5px 15px 20px #000);
}
.content{
    max-width: 700px;
    margin-right: 55px;
}
.content h1{
    font-size: 60px;
    letter-spacing: 10px;
    font-weight: 100;
}
.content h2{
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 5px;
    border-bottom: 3px solid white;
    padding-bottom:10px ;
    margin-bottom: 40px;
}
.content p{
    font-family: 'Open sans' , sans-serif;
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom:20px ;
}
.content .btn{
    padding: 10px 20px;
    background: yellow;
    display: inline-block;
    color: black;
}
.content .btn:hover{
    background: transparent;
    color: yellow;
}



@media screen and (max-width :1240px){
    header{
        padding: 50px;
    }
    .nav li {
        margin: 0 10px;
    }
    .img img{
        width: 400px;
    }
}
@media screen and (max-width :1024px) {
   .header-top{
    justify-content: center;
   }
   .shedule , .cart{
    display: none;
   }
   .img{
    margin-bottom: 30px;
   }
   .hero{
    display: flex;
    flex-direction: column;
    text-align: center;
   }
   .content{
    max-width:auto;
    margin-right: 0;
   }
}
@media screen and (max-width :750px){
header{
    padding: 60px 20px;
}
.header-top{
    margin-bottom: 0;
}
.nav{
    display: none;
}
.menu-btn{
    display: block;
    position: absolute;
    right: 0px;  
    top: 20px;
    cursor: pointer;
}
.menu-btn span{
    width: 20px;
    height: 2px;
    display: block;
    background-color: white;
    margin: 5px;
}
.menu-btn.active span:nth-child(1){
    transform: rotate(45deg) translateY(5px);
}
.menu-btn.active span:nth-child(2){
    display: none;
}
.menu-btn.active span:nth-child(3){
    transform: rotate(-45deg) translateY(-5px);
}
.nav.active{
        display: block;
        margin-top: 60px;
        border-top: 1px solid white;
        padding-top: 10px;
}
.nav li{
    margin: 15px 0;
}
.nav li a.active::after{
display: none;
}
}

